.video {
    position: relative;
    overflow: hidden;
}
.video-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-controls {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.video-progress {
    position: relative;
    height: 5px;
    background-color: #222333;
}
.video-progress-now {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 0;
    height: 100%;
    background-color: #ff6a03;
}
.video-progress-suc {
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #666;
}
.video-progress-bar {
    position: absolute;
    left: 7px;
    top: 0;
    z-index: 2;
    margin-left: -7px;
    margin-top: -4px;
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
.video-play {
    float: left;
    margin-left: 20px;
    height: 45px;
    line-height: 45px;
    color: white;
}
.video-play i {
    font-size: 20px;
    color: white;
    cursor: pointer;
}
.video-time {
    float: left;
    height: 45px;
    line-height: 45px;
    margin-left: 30px;
    font-size: 14px;
    color: white;
}
.video-full {
    float: right;
    height: 45px;
    line-height: 45px;
    margin-right: 20px;
    cursor: pointer;
    
}
.video-full i {
    font-size: 20px;
    color: white;
}
.video-volume {
    float: right;
    margin-right: 20px;
    height: 50px;
    display: flex;
    align-items: center;
}
.video-volume i {
    margin-right: 10px;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
/* 百分比会更好 */
.video-volprogress {
    position: relative;
    margin-right: 10px;
    width: 100px; 
    height: 5px;
    background-color: #222333;
}
.video-volprogress-now {
    width: 50%;
    height: 100%;
    background-color: #ff6a03;
}
.video-volprogress-bar {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
    margin-left: -7px;
    margin-top: -4px;
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}